# Application mode: cli | http
MODE=http


# HTTP server
HTTP_PORT=8080

# Parser config
MAX_ERROR_COUNT=5
SKIP_EMPTY_LINE=true

# SQL Server (jika dipakai)
DB_HOST=localhost
DB_PORT=1433
DB_USER=user
DB_PASSWORD=
DB_NAME=ParamDynamic

# Log level: DEBUG | INFO | WARN | ERROR
LOG_LEVEL=INFO
